@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb:41, 5, 36, 100%;
  --background-end-rgb: 41, 5, 36, 98%;
}

@media (prefers-color-scheme: dark) {
  :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb:41, 5, 36, 100%;
  --background-end-rgb: 41, 5, 36, 98%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.shadow-custom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  z-index: -1;
  border-bottom-left-radius: inherit;
}

